<?xml version="1.0"?>
<launch>
  <arg name="dummy" default="false"/>
  <arg name="gui" default="False" />

	<rosparam file="$(find schunk_pg70_hardware_interface)/config/hw_int_config.yaml"/>

  <group if="$(arg dummy)">
    <node name="pg70_hardware_interface_dummy" pkg="schunk_pg70_hardware_interface" type="schunk_pg70_controller_dummy.py" respawn="false" output="screen" required="true" >
	<remap from="/pg70/joint_states" to="/joint_states"/>
    </node>
  </group>
  <group unless="$(arg dummy)">
    <node name="pg70_hardware_interface" pkg="schunk_pg70_hardware_interface" type="schunk_pg70_controller.py" respawn="false" output="screen" required="true"> 
	<remap from="/pg70/joint_states" to="/joint_states"/>
    </node>
  </group>

</launch>
