<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="mitsubishi_arm">
  <property name="PI" value="3.1415926535897931" />

  <link name="world"/>

  <link name="planning_tip">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </link>


  <joint name="planning_tip_to_robot" type="fixed">
    <parent link="disc"/>
    <child link="planning_tip"/>
    <origin xyz="-0.00 0.00000 0.023" rpy="0 0 0"/>
  </joint>

  <joint name="fixed" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
  </joint>

  <link name="last_robot_frame">
    <origin xyz="0 0 -0.0" rpy="0 0 0"/>
  </link>
  <joint name="last_robot_frame_to_robot" type="fixed">
    <parent link="disc"/>
    <child link="last_robot_frame"/>
    <origin xyz="0 0 0.023" rpy="0 0 0"/>
  </joint>

	<link name="limiting_plain">
		 <visual>
				<geometry>
					<box size="0 0 0."/>
				</geometry>
					<material name="transparent_red">
					<color rgba="1 0 0 0.5"/>
				</material>
	 	 </visual>
		 <collision>
				<geometry>
					<box size="10 10 0.001"/>
				</geometry>
					<material name="transparent_red">
					<color rgba="1 0 0 0.5"/>
				</material>
			</collision>
	</link>
  <joint name="limiting_plain_to_base_link" type="fixed">
    <parent link="base_link"/>
    <child link="limiting_plain"/>
		<origin xyz="0 0 0.06"/>
  </joint>

  <!-- LINKS   -->
  <xacro:include filename="$(find mitsubishi_arm_description)/urdf/mitsubishi_rv_6sdl_arm.xacro" />

	<!-- Add table -->
	<link name="table">
		<visual>
			<geometry>
				<mesh filename="package://mitsubishi_arm_description/meshes/rv-6sdl/table.stl" scale="0.001 0.001 0.001"/>
			</geometry>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<material name="light_grey">
				<color rgba="0.65 0.65 0.65 1"/>
			</material>
		</visual>
		<collision>
			<geometry>
				<mesh filename="package://mitsubishi_arm_description/meshes/rv-6sdl/table.stl" scale="0.001 0.001 0.001"/>
			</geometry>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<material name="light_grey">
				<color rgba="1 0.678 0.2 1"/>
			</material>
		</collision>
	</link>

	<!-- Connect robot to the table -->
	<joint name="robot_to_table" type="fixed">
		<origin xyz="0.0 0.0 -0.0" rpy="0 0 0"/>
		<parent link="base_link"/>
		<child link="table"/>
	</joint>

	<!-- Add cage -->
	<link name="cage">
		<collision>
			<geometry>
				<mesh filename="package://mitsubishi_arm_description/meshes/rv-6sdl/cage.stl" scale="0.001 0.001 0.001"/>
			</geometry>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<material name="light_blue_transparent">
				<color rgba="0 0.54117 0.9019 0.2"/>
			</material>
		</collision>
	</link>

	<joint name="robot_to_cage" type="fixed">
		<origin xyz="0.0 0.0 0" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="cage"/>
	</joint>

</robot>
