<?xml version="1.0"?>
<launch>

  <arg name="camera" default="false" />
  <include if="$(arg camera)" file="$(find b3b33rob_ros)/launch/camera.launch" />

  <include file="$(find mitsubishi_arm_launch)/launch/start_fake_robot.launch">
    <arg name="type" value="rv_6sdl_pg70" />
  </include>

</launch>
