<?xml version="1.0"?>
<launch>
	<arg name="type"/>	
	<group if="$(eval 'rv_6s' in arg('type'))">	
		<param name="/Mitsubishi_robot/len_of_link1" value="0.35" />
		<param name="/Mitsubishi_robot/len_of_link2" value="0.085" />
		<param name="/Mitsubishi_robot/len_of_link3" value="0.28" />
		<param name="/Mitsubishi_robot/len_of_link4" value="0.1" />
		<param name="/Mitsubishi_robot/len_of_link5" value="0.315" />
		<param name="/Mitsubishi_robot/len_of_link6" value="0.085" />
	</group>
	<group if="$(eval 'rv_6sdl' in arg('type'))">	
		<param name="/Mitsubishi_robot/len_of_link1" value="0.35" />
		<param name="/Mitsubishi_robot/len_of_link2" value="0.085" />
		<param name="/Mitsubishi_robot/len_of_link3" value="0.38" />
		<param name="/Mitsubishi_robot/len_of_link4" value="0.1" />
		<param name="/Mitsubishi_robot/len_of_link5" value="0.425" />
		<param name="/Mitsubishi_robot/len_of_link6" value="0.085" />
	</group>
	<group if="$(eval 'pg70' in arg('type'))">	
		<param name="/Mitsubishi_robot/len_of_gripper" value="0.132" />
	</group>
	<group unless="$(eval 'pg70' in arg('type'))">
		<param name="/Mitsubishi_robot/len_of_gripper" value="0." />
	</group>
  	<arg name="robot_description" default="robot_description"/>
  	<group ns="$(arg robot_description)_planning">
  	  <rosparam command="load" file="$(find mitsubishi_arm_config)/config/joint_limits_$(arg type).yaml"/>
  	</group>
	<node name="mitsubishi_kinematics" pkg="mitsubishi_arm_kinematics" type="kinematics_calc.py" respawn="false" output="screen" required="True"/>
</launch>
