<?xml version="1.0"?>
<launch>
    <arg name="type"/>
    <arg name="model" value="$(find mitsubishi_arm_description)/robots/mitsubishi_$(arg type).urdf.xacro"/>
    <param name="/robot_description" command="$(find xacro)/xacro $(arg model)" />

    <!-- IKT server
    <include file="$(find mitsubishi_arm_kinematics)/launch/mitsubishi_kinematics.launch">
	    <arg name="type" value="$(arg type)"/>
    </include> -->

    <!-- Hardware interface -->
    <include ns="arm" file="$(find mitsubishi_arm_hardware_interface)/launch/mitsubishi_arm_hardware_interface.launch">
      <arg name="dummy" value="False"/>
      <arg name="gui" value="False" />
	  	<arg name="type" value="$(arg type)"/>
    </include>

    <!-- Controllers -->
		<include ns="arm" file="$(find mitsubishi_arm_control)/launch/mitsubishi_arm_control.launch"/>

    <group if="$(eval 'pg70' in arg('type'))">
    <!-- Hardware interface -->
    <include ns="pg70" file="$(find schunk_pg70_hardware_interface)/launch/schunk_pg70_hardware_interface.launch">
      <arg name="dummy" value="False"/>
      <arg name="gui" value="False" />
    </include>

		</group>


  	<!-- Given the published joint states, publish tf for the robot links -->
  	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen">
  	</node>

    <!-- Moveit -->
    <include file="$(find mitsubishi_arm_config)/launch/moveit.launch">
	<arg name="type" value="$(arg type)"/>
    </include>

  <!-- IKT server -->
  <include file="$(find kinematics_6dof_ros_pkg)/launch/kinematics_6dof.launch">
    <arg name="planning_group" value="arm"/>
  </include>

</launch>
