<?xml version="1.0"?>
<launch>

	<arg name="type" default="rv_6sdl_pg70"/>
  <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
  <arg name="load_robot_description" default="false"/>

  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>

  <!-- Load universal robot description format (URDF) -->
	<param if="$(arg load_robot_description)" name="$(arg robot_description)" command="$(find xacro)/xacro.py '$(find mitsubishi_arm_description)/robots/mitsubishi_$(arg type).urdf.xacro'"/>

  <!-- The semantic description that corresponds to the URDF -->
	<param name="$(arg robot_description)_semantic" textfile="$(find mitsubishi_arm_config)/config/mitsubishi_arm_pg70.srdf" if="$(eval 'pg70' in arg('type'))"/>
	<param name="$(arg robot_description)_semantic" textfile="$(find mitsubishi_arm_config)/config/mitsubishi_arm.srdf" unless="$(eval 'pg70' in arg('type'))"/>

  <!-- Load updated joint limits (override information from URDF) -->
  <group ns="$(arg robot_description)_planning">
    <rosparam command="load" file="$(find mitsubishi_arm_config)/config/joint_limits_$(arg type).yaml"/>
  </group>

  <!-- Load default settings for kinematics; these settings are overridden by settings in a node's namespace -->
  <!--  <arg name="kinematics_configuration_file" value="$(find mitsubishi_arm_config)/config/kinematics_rv_6s.yaml" if="$(eval 'rv_6s' in arg('type') and not 'rv_6sdl' in arg('type'))"/>
    <arg name="kinematics_configuration_file" value="$(find mitsubishi_arm_config)/config/kinematics_rv_6sdl.yaml" if="$(eval 'rv_6sdl' in arg('type'))"/> -->
  <group ns="$(arg robot_description)_kinematics">
    <rosparam command="load" file="$(find mitsubishi_arm_config)/config/kinematics.yaml"/>
  </group>

</launch>
